@import 'config';

body {
    background: $Light-gray;
    color: $Grayish-blue;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

h3 {
    font-weight: 700;
    color: $Dark-blue;
}

p {
    font-weight: 400;
    font-size: 15px;
}

.main {
    text-align: center;
    align-self: center;
    background: $White;
    position: relative;
    align-items: center;
    display: flexbox;
    border-radius: 0.5rem;
}