@import 'config';

body {
    background: $Light-gray;
    color: $Grayish-blue;
    height: 90vh;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
}

h1, h2, h3 {
    font-weight: 700;
    color: $Dark-blue;
}

p {
    font-weight: 400;
    font-size: 15px;
}

main {
height: 100%;
width: 100%;
justify-content: center;
}

.container {
    position: relative;
    background: $White;
    width: 2.87in;
    height: 4.5in;
    margin:auto;
    display: block;
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    justify-self: center;
    justify-content: center;
    transform: translate(0%, 20%);

    .img {
        border-radius: 1.5rem;
        margin: 1rem auto 0 auto;
        margin-top: 1rem;
        text-align: center;

        img {
            border-radius: 0.5rem;
            width: 260px;
            height: 250px;
            position: absolute;
            top: 31%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__container {
            margin-top: 1rem;
            border-radius: 1.5rem;
        }
    }

    h3 {
        transform: translate(0%, 470%);
    }

    p {
        transform: translate(0%, 500%);
    }
}

.attribution {
    transform: translate(0%, 620%);
}